body {
    margin: 0;
    background: linear-gradient(to left bottom,rgb(192, 130, 161),rgb(170, 88, 106),rgb(67, 181, 219));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}
.container{
background-color: rgb(209, 13, 13);
padding: 20px;
box-shadow: 0px 6px 10px rgba(20, 0, 0, 0.4);
border-radius: 15px;
width: 85%;
text-align: center;
color: rgb(15, 236, 236);
flex: 1; /* Use flex: 1 to make the container take up remaining space */
display: flex;
flex-direction: column;
}
.heading{
    font-size:35px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px2px rgba(0,0,0,0.4);
    letter-spacing: 2px;
}
.joke{
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}
.btn{
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    background-color: rgba(60,170,113,.8);
    border-color: rgba(39, 194, 114, 0.2);
    text-transform: uppercase;
    width: 200px;
    color: rgb(187, 235, 13);
    box-shadow: 0 4px 4px rgba(0, 0,0, .3);
    transform: all 300ms ease;
    margin: 0 auto;
    clip-path: circle(50%);
}
.loadingSpinner {
    display: none; /* Initially hide the loading spinner */
    border: 8px solid linear-gradient(to right, rgb(0, 255, 51), rgb(0, 0, 255), yellow, green, blue, indigo, violet);/* Colorful gradient */
    border-radius: 50%;
    border-top: 8px solid rgb(249, 120, 0);
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
footer {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
a {
    color: #92da0b; /* Set your preferred text color */
    text-decoration: none; /* Remove underlining */
    cursor: default; /* Set cursor to pointer */
}

a:hover {
    color: #004466; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
}